{% load static %}

<div id="sidebar">
    {% if sensors.pressure %}
        <div id="pressure-data">
            <h1>Pressure</h1>
            <ul>
                {% for pt in sensors.pressure %}
                    <li><span class="data-identifier">{{ pt }}</span> <span class="data-value" id="{{ pt }}">? PSI</span></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if sensors.thermocouple %}
    <div id="thermo-data">
        <h1>Temperature</h1>
        <ul>
            {% for tc in sensors.thermocouple %}
                <li><span class="data-identifier">{{ tc }}</span> <span class="data-value" id="{{ tc }}">? °F</span></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if sensors.load %}
        <div id="load-data">
            <h1>Thrust</h1>
            <ul>
                {% for lc in sensors.load %}
                    <li><span class="data-identifier">{{ lc }}</span> <span class="data-value" id="{{ lc }}">? N</span></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if not sensors.thermocouple and not sensors.pressure and not sensors.load %} 
        <h1 style="text-align: center;">No data</h1>
    {% endif %}

    <button type="button" id="zero" class="button-3">
        Zero Sensors
    </button>

    <div id="offsets" style="margin-top: 1vw; margin-left: 1vw;">
        <span>Offsets</span>
        <div class="offset">
            <span>PT-1: 0</span>
        </div>
        <div class="offset">
            <span>PT-2: 0</span>
        </div>
        <div class="offset">
            <span>PT-3: 0</span>
        </div>
        <div class="offset">
            <span>PT-4: 0</span>
        </div>
    </div>
</div>      