@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
    --theme-color: #f62b24;
    --accent-color: #002762;

    --red: #f13d37;
    --red-dark: #d3332e;
    --red-darker: #b32823;

    --green: #6ed46e;
    --green-dark: #51bd51;
    --green-darker: #389738;

    --gray: #a3a3a3;
    --gray-dark: #807e7e;
    --gray-darker: #5e5c5c;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Fira Mono", monospace;
}

#container {
    width: 70%;
    height: 95%;
    border: 1px solid black;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent-color);
}


nav>a {
    margin-left: 1.75rem;
}

nav>img.logo {
    height: 50px;
    width: 50px;
    margin-left: 15px;
}

#dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    width: 30em;
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;
}

#dialog-box::backdrop {
    background-color: rgba(20, 20, 20, 0.25);
}

#dialog-box>* {
    padding: 1em;
}

#dialog-header {
    background-color: #eeeeee;
}

#dialog-header h3 {
    font-weight: 600;
}

#dialog-body {
    margin-top: 15px;
    margin-bottom: 15px;
}

#dialog-actions {
    border-top: 1px solid #b8b8b8;
    margin-left: .5em;
    margin-right: .5em;
    display: flex;
    justify-content: end;
}

#dialog-actions button {
    font-family: "Segoe UI", sans-serif;
    padding: .75em 1.5em;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: .95em;
}

#dialog-actions button:not(:last-child) {
    margin-right: 1em;
}

#dialog-btn-yes {
    background-color: var(--red);
}

#dialog-btn-yes:hover {
    background-color: var(--red-dark);
}

#dialog-btn-yes:active {
    background-color: var(--red-darker);
}

#dialog-btn-no {
    background-color: var(--gray);
}

#dialog-btn-no:hover {
    background-color: var(--gray-dark);
}

#dialog-btn-no:active {
    background-color: var(--gray-darker);
}

.button-3 {
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    transition: all 0.4s ease;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: not-allowed;
}