@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    height: 100%;
    width: 4rem;
    padding: .25rem 1rem;
    background-color: var(--space-black);
    color: white;
    /*
    just keeping this here in case we go for light theme instead
    background-color: white;
    color: black; 
    */
    -webkit-box-shadow: 0px 0px 15px 0px rgba(161,146,161,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(161,146,161,1);
    box-shadow: 0px 0px 15px 0px rgba(161,146,161,1);
    box-sizing: content-box;
}

.sidebar hr {
    border-bottom: 1px solid #464b50; 
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

#title > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
}

#navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    height: 100%;
    box-sizing: content-box;
}

#routes {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#routes li {
    display: inline-block;
    padding: 1rem .5rem;
}